In [2]:
# Uncomment below if you want to run this file only
%run main.ipynb
#%run data_cleaning.ipynb
#%run data_visualization.ipynb
#%run feature_engineering.ipynb

In [3]:
# Read the CSV From FEATURE ENGINEERING data source file from S3 into a DataFrame
# Use the methods from the S3Utils class
if s3_utils.check_file_exists(output_file_key_data_feature_engineering):
    dataset = s3_utils.read_csv_from_s3(output_file_key_data_feature_engineering)

In [16]:
from sklearn.cluster import KMeans
from sklearn.cluster import Birch
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import AdaBoostClassifier

In [9]:
dataset.head(2)

,id,amount_rub_clo_prc,amount_rub_sup_prc,rest_dynamic_save_3m,rest_avg_cur,amount_rub_nas_prc,amount_rub_atm_prc,rest_dynamic_fdep_3m,rest_avg_paym,ldeal_grace_days_pct_med,rest_dynamic_cur_3m,rest_dynamic_paym_3m,rest_dynamic_il_3m,rest_dynamic_cc_3m,target,pack_encoded,number_products,new_age_category_numeric,new_setup_tenor,total_turnover_category,total_turnover_1m_category,total_turnover_3m_category
0,146841,0.000000,0.000000,0.541683,156067.339800,0.0,1.000000,0.0,0.0,0.0,0.474134,0.0,0.0,0.0,0,9,0,1,0.347569,0,2,2
1,146842,0.041033,0.244678,0.000000,4278.845817,0.0,0.410691,0.0,0.0,0.0,0.384264,0.0,0.0,0.0,0,1,0,1,0.414169,0,2,2

In [20]:
dataset.isnull().sum()

id                                0
amount_rub_clo_prc            38323
amount_rub_sup_prc            38323
rest_dynamic_save_3m              0
rest_avg_cur                      0
amount_rub_nas_prc            38323
amount_rub_atm_prc            38323
rest_dynamic_fdep_3m              0
rest_avg_paym                     0
ldeal_grace_days_pct_med          0
rest_dynamic_cur_3m               0
rest_dynamic_paym_3m              0
rest_dynamic_il_3m                0
rest_dynamic_cc_3m                0
target                            0
pack_encoded                      0
number_products                   0
new_age_category_numeric          0
new_setup_tenor                   0
total_turnover_category           0
total_turnover_1m_category        0
total_turnover_3m_category        0
dtype: int64

In [21]:
# Columns with missing values
cols_with_missing = ['amount_rub_clo_prc', 'amount_rub_sup_prc', 
                     'amount_rub_nas_prc', 'amount_rub_atm_prc']

# Impute missing values with mean
for col in cols_with_missing:
    dataset[col] = dataset[col].fillna(dataset[col].mean())

In [23]:
# Split the dataset into features (X) and target variable (y)
from sklearn.model_selection import train_test_split

X = dataset.drop(columns=['target'])
y = dataset['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Clustering Algorithm #1: K-Means

In [24]:
# Calculate the silhouette score to choose the best number of clusters for our model

clust_alg_1=dataset.copy()

range_n_clusters = [2, 3, 4, 5, 6, 7, 8]
silhouette_avg = []
for num_clusters in range_n_clusters:
  # initialise kmeans
  kmeans = KMeans(n_clusters=num_clusters)
  kmeans.fit(clust_alg_1)
  cluster_labels = kmeans.labels_
# silhouette score
  silhouette_avg.append(silhouette_score(clust_alg_1, cluster_labels))
# Plot silhouette analysis
plt.plot(range_n_clusters,silhouette_avg,'bx-')
plt.xlabel('Values of K')
plt.ylabel('Silhouette score')
plt.title('Silhouette analysis For Optimal k')
plt.show()

NameError: name 'silhouette_score' is not defined